<form class="my-2" action="/characters" method="GET">
    <div class="row my-2 mx-0 card d-flex flex-wrap flex-row justify-content-center">
        <div class="col-md-2">
            <label for="name">Search by character name</label>
            <div class="input-group">
                <input type="text" class="form-control" name="name" placeholder="Enter character name" value="<%= locals.query.name ? locals.query.name : '' %>">
            </div>
        </div>
        <div class="col-md-2">
            <label for="sortElement">Search by element</label>
            <div class="input-group">
                <select id="sortElement" name="sortElement" class="form-control">
                        <option value="">-- Select element --</option>
                        <% var elements = ['Anemo', 'Geo', 'Electro', 'Hydro', 'Pyro', 'Cryo', 'Dendro']; %>
                        <% elements.forEach(function(element) { %>
                            <option value="<%= element %>" <% if (element === locals.query.sortElement) { %>selected<% } %>><%= element %></option>
                        <% }); %>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <label for="sortWeapon">Search by weapon</label>
            <div class="input-group">
                <select id="sortWeapon" name="sortWeapon" class="form-control">
                    <option value="">-- Select weapon --</option>
                    <% var weapons = ['Sword', 'Claymore', 'Bow', 'Catalyst', 'Polearm']; %>
                    <% weapons.forEach(function(weapon) { %>
                        <option value="<%= weapon %>" <% if(weapon === locals.query.sortWeapon) { %>selected<%} %>><%= weapon %></option>
                    <% }); %>
                </select>
            </div>
            <input class="form-control" type="hidden" name="page" value="<%= locals.currentPage %>">

        </div>
        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-primary" type="submit" onclick="document.getElementsByName('page')[0].value = 1;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
            </button>
        </div>
    </div>
</form>