<%- include("partials/header.ejs") %>
<% 
    function getTierColor(tier) {
        switch (tier) {
            case 'SS':
                return '#FF0000';
            case 'S':
                return '#FF4500';
            case 'A':
                return '#FF8C00';
            case 'B':
                return '#FFD700';
            case 'C':
                return '#ADFF2F';
            case 'D':
                return '#00FF00';
            default:
                return 'black';
        }
    }
%>

<h1 class="text-center">All characters public tier list</h1>

<div class="tier-list">
    <div class="d-flex justify-content-start align-items-center container-fluid">
        <table class="table table-striped table-hover table-sm rounded tier-table">
            <% ['SS', 'S', 'A', 'B', 'C', 'D'].forEach(function(tier) { %>
                <% const charactersInTier = locals.characters.filter(function(character) { return character.rating === tier; }); %>
                <% if (charactersInTier.length > 0) { %>
                    <tr>
                        <td class="text-center align-middle">
                            <h3 class="rating-<%= tier.toLowerCase() %> text-center" style="color: <%= getTierColor(tier) %>; font-weight: bold;"><%= tier %></h3>
                        </td>
                        <td class="text-center d-flex flex-wrap">
                            <% charactersInTier.forEach(function(character, index) { %>
                                <% if (index % 6 === 0) { %>
                                    </div>
                                    <div class="tier-list-card-container d-flex flex-wrap my-2">
                                <% } %>
                                <div class="tier-list-card">
                                    <img src="<%= character.character.image_url %>" class="card-img-top" alt="<%= character.character.name %>">
                                    <div class="card-body">
                                        <p class="tier-list-title"><%= character.character.name %></p>
                                    </div>
                                </div>
                            <% }); %>
                        </td>
                    </tr>
                <% } %>
            <% }); %>
        </table>
    </div>
</div>

<%- include("partials/footer.ejs") %>
