<%- include("partials/header.ejs") %>

<div class="container-fluid edit-container col-md-6">
    <h1>Edit users <%= user.username %> information</h1>
    <form id="edit-form" action="/user/<%= user.id %>" method="POST" class="needs-validation" validate>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>">
        </div>
        <div class="form-group">
            <label for="date_of_birth">Date of birth</label>
            <!-- Temp fix that needs fixing later with some weird dates -->
            <% const currentDate = new Date(user.date_of_birth); %>
            <% currentDate.setDate(currentDate.getDate() + 1); %>
            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="<%= currentDate.toISOString().split('T')[0] %>">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender">
                <% const genders = ['other', 'male', 'female']; %>
                <% genders.forEach(gender => { %>
                    <option value="<%= gender %>" <%= user.gender === gender ? 'selected' : '' %>><%= gender.charAt(0).toUpperCase() + gender.slice(1) %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" name="role">
                <% const roles = ['user', 'admin']; %>
                <% roles.forEach(role => { %>
                    <option value="<%= role %>" <%= user.role === role ? 'selected' : '' %>><%= role.charAt(0).toUpperCase() + role.slice(1) %></option>
                <% }); %>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>
