<%- include("partials/header.ejs") %>

<h1 class="text-center">Edit character</h1>
    <div class="container-fluid edit-container col-md-6 show">
        <form id="editForm" action="/character/<%= character.id %>" method="POST" class="needs-validation" validate>
            <input type="hidden" name="_method" value="PATCH">
            <div class="mb-3">
                <strong><label for="name" class="form-label">Name:</label></strong>
                <input type="text" id="name" name="name" class="form-control" value="<%= character.name %>" required>
                <div class="invalid-feedback">Please enter a name.</div>
            </div>

            <div class="mb-3">
                <strong><label for="weapon" class="form-label">Weapon:</label></strong>
                <select id="weapon" name="weapon" class="form-select" required>
                    <% var weapons = ['Sword', 'Claymore', 'Bow', 'Catalyst', 'Polearm']; %>
                    <% weapons.forEach(function(weapon) { %>
                        <option value="<%= weapon %>" <%= character.weapon === weapon ? 'selected' : '' %>><%= weapon %></option>
                    <% }); %>
                </select>
            </div>

            <div class="mb-3">
                <strong><label for="element" class="form-label">Element:</label></strong>
                <select id="element" name="element" class="form-select" required>
                    <% var elements = ['Anemo', 'Geo', 'Electro', 'Hydro', 'Pyro', 'Cryo', 'Dendro']; %>
                    <% elements.forEach(function(element) { %>
                        <option value="<%= element %>" <%= character.element === element ? 'selected' : '' %>><%= element %></option>
                    <% }); %>
                </select>
            </div>

            <div class="mb-3">
                <strong><label for="rarity" class="form-label">Rarity:</label></strong>
                <select id="rarity" name="rarity" class="form-select" required>
                    <option value="4" <%=character.rarity===4 ? 'selected' : '' %>>4 star</option>
                    <option value="5" <%=character.rarity===5 ? 'selected' : '' %>>5 star</option>
                </select>
            </div>

            <div class="mb-3">
                <strong><label for="birthday" class="form-label">Birthday</label></strong>
                <% var currentDate=new Date(); %>
                <% var currentYear=currentDate.getFullYear(); %>
                <input type="date" id="birthday" name="birthday" class="form-control"
                    value="<%= currentYear + '-' + character.birthday %>" required>
                <div class="invalid-feedback">Please enter a birthday.</div>
            </div>

            <script>
                var year = new Date().getFullYear();
                document.getElementById('birthday').setAttribute("min", year + "-01-01");
                document.getElementById('birthday').setAttribute("max", year + "-12-31");
            </script>

            <div class="mb-3">
                <strong><label for="region" class="form-label">Region:</label></strong>
                <select id="region" name="region" class="form-select" required>
                    <% var regions = ['Other', 'Mondstadt', 'Liyue', 'Inazuma', 'Sumeru', 'Fontaine', 'Natlan', 'Snezhnaya']; %>
                    <% regions.forEach(function(region) { %>
                        <option value="<%= region %>" <%= character.region === region ? 'selected' : '' %>><%= region %></option>
                    <% }); %>
                </select>
                <div class="invalid-feedback">Please select a region.</div>
            </div>

            <div class="mb-3">
                <strong><label for="wiki_url" class="form-label">Wiki URL:</label></strong>
                <input type="url" id="wiki_url" name="wiki_url" class="form-control" value="<%= character.wiki_url %>">
                <div class="invalid-feedback">Please enter a valid URL.</div>
            </div>

            <div class="mb-3">
                <strong><label for="image_url" class="form-label">Image:</label></strong>
                <input type="url" id="image_url" name="image_url" class="form-control" value="<%= character.image_url %>">
                <div class="invalid-feedback">Please enter a valid URL</div>
            </div>

            <div class="mb-3">
                <strong><label for="affiliation" class="form-label">Affiliation:</label></strong>
                <input type="text" id="affiliation" name="affiliation" class="form-control"
                    value="<%= character.affiliation %>">
                <div class="invalid-feedback">Please enter an affiliation.</div>
            </div>

            <div class="mb-3">
                <strong><label for="constellation" class="form-label">Constellation:</label></strong>
                <input type="text" id="constellation" name="constellation" class="form-control"
                    value="<%= character.constellation %>">
                <div class="invalid-feedback">Please enter a constellation.</div>
            </div>

            <div class="mb-3">
                <strong><label for="talent_material_type" class="form-label">Talent Material Type:</label></strong>
                <input type="text" id="talent_material_type" name="talent_material_type" class="form-control"
                    value="<%= character.talent_material_type %>">
                <div class="invalid-feedback">Please enter a talent material type.</div>
            </div>

            <div class="mb-3">
                <strong><label for="boss_material_type" class="form-label">Boss Material Type:</label></strong>
                <input type="text" id="boss_material_type" name="boss_material_type" class="form-control"
                    value="<%= character.boss_material_type %>">
                <div class="invalid-feedback">Please enter a boss material type.</div>
            </div>

            <button type="submit" class="btn btn-primary">Edit Character</button>
        </form>
    </div>


    <%- include("partials/footer.ejs") %>