<%- include("partials/header.ejs") %>

<div class="container-fluid col-md-6">
    <%  let birthday = user.date_of_birth.getTime();
        let date = new Date(birthday);
        let formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;
    %>
    <div class="card mt-2">
        <h2>My profile</h2>
        <div class="card-body">
            <form id="profileForm" action="/profile/<%= user.id %>" method="POST">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Username</td>
                            <td><span id="username"><%= user.username %></span></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><span id="email"><%= user.email %></span></td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td><span id="date_of_birth"><%= formattedDate %></span></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td><span id="gender"><%= user.gender.charAt(0).toUpperCase() + user.gender.slice(1) %></span></td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td><span id="role"><%= user.role.charAt(0).toUpperCase() + user.role.slice(1) %></span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex flex-row">
                    <a class="btn btn-primary edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                    <button style="display: none;"  type="submit" class="btn btn-primary save">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy" viewBox="0 0 16 16">
                        <path d="M11 2H9v3h2z"/>
                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"/>
                    </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isEditing = false;
    let dateValue = <%=user.date_of_birth.getTime()%>;
    let date = new Date(dateValue);
    let formattedDate = `${date.getFullYear()}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getDate().toString().padStart(2, '0')}`;

    document.querySelector('.edit').addEventListener('click', function() {
        if (isEditing) {
            // Switch to display form
            document.querySelector('.save').style.display = 'block';
            document.querySelectorAll('input, select').forEach(function(input) {
                var span = document.createElement('span');
                span.id = input.id;
                span.textContent = input.value;
                if(input.id === 'date_of_birth'){
                    span.textContent = formattedDate;
                }
                input.parentNode.replaceChild(span, input);
            });
            document.querySelector('.edit').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>';
            document.querySelector('.edit').classList.remove('btn-danger');
            document.querySelector('.edit').classList.add('btn-primary');
            document.querySelector('.save').style.display = 'none';
        } else {
            // Switch to edit form
            document.querySelector('.save').style.display = 'block';
            document.querySelectorAll('span').forEach(function(span) {
                var value = span.textContent;
                var input;

                switch (span.id) {
                    case 'date_of_birth':
                        input = document.createElement('input');
                        input.type = 'date';
                        input.value = formattedDate;
                        input.name = span.id;
                        input.classList.add('form-control');
                        break;
                    case 'gender':
                        input = document.createElement('select');
                        input.classList.add('form-control');
                        input.name = span.id;
                        var options = ['Male', 'Female', 'Other'];
                        options.forEach(function(option) {
                            var optionElement = document.createElement('option');
                            optionElement.value = option;
                            optionElement.textContent = option;
                            if (option === value) {
                                optionElement.selected = true;
                            }
                            input.appendChild(optionElement);
                        });
                        break;
                    default:
                        return;
                }

                input.id = span.id;
                span.parentNode.replaceChild(input, span);
            });
            document.querySelector('.edit').innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M8 7.293l4.146-4.147a.5.5 0 0 1 .708.708L8.707 8l4.147 4.146a.5.5 0 0 1-.708.708L8 8.707l-4.146 4.147a.5.5 0 0 1-.708-.708L7.293 8 3.146 3.854a.5.5 0 0 1 .708-.708L8 7.293z"/></svg>';
            document.querySelector('.edit').classList.add('btn-danger');
            document.querySelector('.save').style.display = 'block';
        }

        isEditing = !isEditing;
    });

    // document.querySelector('.save').addEventListener('click', function() {
    //     var formData = new FormData(document.getElementById('profileForm'));

    //     var xhr = new XMLHttpRequest();
    //     xhr.open('POST', '/update-profile', true);
    //     xhr.onload = function() {
    //         if (xhr.status === 200) {
    //             var response = JSON.parse(xhr.responseText);
    //             document.getElementById('email').textContent = response.email;
    //             document.getElementById('date_of_birth').textContent = response.date_of_birth;
    //             document.getElementById('gender').textContent = response.gender;

    //             document.querySelectorAll('input, select').forEach(function(input) {
    //                 var span = document.createElement('span');
    //                 span.id = input.id;
    //                 span.textContent = input.value;
    //                 input.parentNode.replaceChild(span, input);
    //             });
    //             document.querySelector('.edit').textContent = 'Edit';
    //             document.querySelector('.save').style.display = 'none';
    //             isEditing = false;
    //         }
    //     };
    //     xhr.send(formData);
    // });
</script>

<%- include("partials/footer.ejs") %>