<%- include("partials/header.ejs") %>

<div class="col-md-6 mx-auto">
    <div class="card my-3">
        <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <h2 class="card-title text-center">
                <%= character.name %>
            </h2>
            <img src="<%= character.image_url %>" height="200" width="200">
            <p class="card-text"><strong>Element:</strong> <%= character.element %></p>
            <p class="card-text"><strong>Weapon:</strong> <%= character.weapon %></p>
            <p class="card-text"><strong>Birthday:</strong> <%= character.birthday %></p>
            <p class="card-text"><strong>Rarity:</strong> <%= character.rarity %></p>
            <p class="card-text"><strong>Region:</strong> <%= character.region %></p>
            <p class="card-text"><strong>Wiki URL:</strong> 
            <a href="<%= character.wiki_url %>">
                <%= character.wiki_url %>
            </a>
            </p>
            <p class="card-text"><strong>Constellation:</strong> <%= character.constellation %></p>
            <p class="card-text"><strong>Affiliation:</strong> <%= character.affiliation %></p>
            <p class="card-text"><strong>Talent Material Type:</strong> <%= character.talent_material_type %></p>
            <p class="card-text"><strong>Weekly Boss Material:</strong> <%= character.boss_material_type %></p>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>